﻿<!-- nav -->
<!-- <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active">Home</a>
        
    </div>
    <a class="nav-item nav-link" (click)="logout()">Logout</a>
    
</nav> -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/" routerLinkActive="active">Dashboard</a>
      </div>
     
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" (click)="logout()" style="color:#ffff"><span class="glyphicon glyphicon-user"></span> SignOut</a></li>
      </ul>
    </div>
  </nav>

<!-- main app container -->
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>
