﻿<div class="row">
    <div class="col-6">
        <div class="card mt-2">
            <h4 class="card-header">Donut Chart</h4>
            <div class="card-body">
                <app-chart-donut></app-chart-donut>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card mt-2">
            <h4 class="card-header">Bar Chart</h4>
            <div class="card-body">
                <app-chart-bar></app-chart-bar>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card mt-2">
            <h4 class="card-header">Bar Chart</h4>
            <div class="card-body">
                <div class="table-responsive " style="width: 100%;">
                   
                    <table class="table table-bordered">
                        <thead>
                            
                                <tr>
                                    <th>#</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>User Name</th>
                                </tr>
                           
                        </thead>
                        <tr *ngFor="let item of getTableUsersValues; let ndx = index">
                            <td>{{ndx}}</td>
                            <td>{{item.firstName}}</td>
                            <td>{{item.lastName}}</td>
                            <td>{{item.username}}</td>
                        </tr>
                    </table>
                    </div>
                
            </div>
        </div>
    </div>
</div>